<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!--<plugins>-->
        <!--<plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></plugin>-->
    <!--</plugins>-->
    
    <!--<plugins>
        &lt;!&ndash;性能分析插件&ndash;&gt;
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
            &lt;!&ndash;最大执行时间，单位为毫秒&ndash;&gt;
            <property name="maxTime" value="100"/>
            &lt;!&ndash;对输出的SQL进行格式化，默认为false&ndash;&gt;
            <property name="format" value="true"/>
        </plugin>
    </plugins>-->

</configuration>