<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxArticleMapper">

    <resultMap id="article" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="article_text" property="articleText"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>

        <result column="good_time" property="goodTime"></result>
        <result column="collection_date" property="collectionDate"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_num" property="schoolNum"></result>
            <result column="school_name" property="schoolName"></result>
            <result column="head" property="head"></result>
            <result column="fans_num" property="fansNum"></result>
            <result column="collection_num" property="collectionNum"></result>
            <result column="follow_school_date" property="followSchoolDate"></result>
        </collection>
    </resultMap>

    <!--递归查询实现多表分页-->
    <resultMap id="article_page" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="article_text" property="articleText"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>

        <result column="good_time" property="goodTime"></result>
        <result column="collection_date" property="collectionDate"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_name" property="schoolName"></result>
            <result column="head" property="head"></result>
            <result column="follow_school_date" property="followSchoolDate"></result>
        </collection>
        <collection property="articleimageList" ofType="com.xvls.alexander.entity.wx.ArticleImage" column="article_id" select="getArticleImageList"></collection>
    </resultMap>

    <resultMap id="ArticleImageList" type="com.xvls.alexander.entity.wx.ArticleImage">
        <result column="file_url" property="file_url"></result>
        <result column="name" property="name"></result>
        <result column="islongimage" property="islongimage"></result>
    </resultMap>



    <resultMap id="article_list" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_num" property="schoolNum"></result>
            <result column="school_name" property="schoolName"></result>
            <result column="province" property="province"></result>
            <result column="head" property="head"></result>
            <result column="fans_num" property="fansNum"></result>
            <result column="ranking" property="ranking"></result>
            <result column="introduction" property="introduction"></result>
            <result column="address" property="address"></result>
            <result column="background" property="background"></result>
            <result column="follow_school_date" property="followSchoolDate"></result>
        </collection>
    </resultMap>

    <resultMap id="mainPage_article_list" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="article_text" property="articleText"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_name" property="schoolName"></result>
            <result column="head" property="head"></result>
            <result column="follow_school_date" property="followSchoolDate"></result>
        </collection>
    </resultMap>

    <resultMap id="schoolMainPage_article_list" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>

        <result column="good_time" property="goodTime"></result>
        <result column="collection_date" property="collectionDate"></result>
    </resultMap>

    <!--后台管理端-->
    <resultMap id="system_article" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="article_text" property="articleText"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="heat_of_article" property="heatOfArticle"></result>
    </resultMap>

    <!--递归查询实现多表分页-->
    <!--查询全部动态-->
    <select id="getArticleByPage" resultMap="article_page">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>
    <!--查询用户关注学校的动态-->
    <select id="getFollowArticleListByPage" resultMap="article_page">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        where follow_school.wx_user_id = #{wxUserId}
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <select id="getArticleImageList" resultMap="ArticleImageList">
        SELECT file_download.file_url,
        file_download.name,
        file_download.islongimage
        FROM file_belong
        LEFT JOIN file_download ON file_belong.file_hash = file_download.file_hash
        WHERE file_belong.`belong_id`=#{article_id} AND file_belong.`belong_type`='A'
        ORDER BY file_download.file_date ASC;
    </select>

    <!--通过Title查询动态-->
    <select id="searchArticleByTitle" resultMap="article_page">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        where article.title like #{title}
        ORDER BY article.article_time desc
    </select>

    <select id="getAllArticle" parameterType="com.xvls.alexander.entity.PageInfo" resultMap="article_list">
        SELECT article.*,
        school.*
        FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
    </select>

    <select id="getArticleById" resultMap="article">
        select article.*,
        school.*,
        good.good_time,
        collection.collection_date,
        follow_school.follow_school_date
        from article
        left join school on article.school_id = school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        where article_id = #{articleId}
    </select>

    <select id="getArticleBySchoolId" resultMap="schoolMainPage_article_list">
        select article.*,
        good.good_time,
        collection.collection_date
        from article
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        where school_id=#{schoolId}
        ORDER BY article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <update id="addArticleGoodNum">
        update article set good_num = good_num+1 where article_id = #{articleId};
    </update>

    <update id="addArticleCommentNum">
        update article set comment_num = comment_num + 1 where article_id = #{articleId};
    </update>

    <update id="addArticleReadNum">
        update article set read_num = read_num + 1 where article_id = #{articleId};
    </update>

    <update id="decreaseArticleGoodNum">
        update article set good_num=good_num-1 where article_id = #{articleId}
    </update>

    <update id="decreaseArticleCommentNum">
        update article set comment_num=comment_num-1 where article_id = #{articleId}
    </update>

    <update id="addArticleCollectionNum">
        update article set collection_num = collection_num + 1 where article_id = #{articleId}
    </update>

    <update id="decreaseArticleCollectionNum">
        update article set collection_num = collection_num - 1 where article_id = #{articleId}
    </update>

    <update id="updateArticleCommentsNum">
        UPDATE article
        SET article.`comment_num`=(SELECT COUNT(*) FROM comments WHERE comments.belong_type = 'A' AND comments.belong_id = #{articleId})
        WHERE article.article_id=#{articleId};
    </update>


    <select id="getArticleGoodList" resultMap="article_page">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM good
        left join article ON good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        where good.good_type = 'A' and good.wx_user_id = #{wxUserId}
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <select id="getArticleCollectionList" resultMap="article_page">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM collection
        left join article on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        left join good ON good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        where collection.collection_type = 'A' and collection.wx_user_id = #{wxUserId}
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <select id="getHomePageArticleList" resultMap="mainPage_article_list">
        select article.*,
        school.school_id,
        school.school_name,
        school.head,
        follow_school.follow_school_date,
        good.good_time,
        collection.collection_date
        FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        left join good on good.good_type='A' and good.good_id = article.article_id and good.wx_user_id = #{wxUserId}
        left join collection on collection.collection_type='A' and collection.collection_id=article.article_id and collection.wx_user_id = #{wxUserId}
        ORDER BY article.heat_of_article desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <!--更新热度-->
    <update id="updateArticleHeatOfArticle">
        update article set heat_of_article = #{heatOfArticle} where article_id = #{articleId}
    </update>

    <!--              后台管理端                  -->
    <select id="getSystemArticleList" resultMap="system_article">
        select *
        from article
        where article.school_id IN (select users.school_id from users where users.user_id = #{userId})
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <select id="getArticleListByTitle" resultMap="system_article">
        select *
        from article
        where article.school_id IN (select users.school_id from users where users.user_id = #{userId}) and title like #{title}
        ORDER BY article.article_time desc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>
    <select id="getArticleCountByTitle" resultType="java.lang.Integer">
        select count(*)
        from article
        where article.school_id IN (select users.school_id from users where users.user_id = #{userId}) and title like #{title};
    </select>
    
    <select id="getArticleNumByUserId" resultType="java.lang.Integer">
        select count(*)
        from article
        where article.school_id IN (select users.school_id from users where users.user_id = #{userId})
    </select>

    <update id="updateArticleCommentStatus">
        update article set comment_status = #{commentStatus}
        where article_id = #{articleId}
    </update>

    <!--通过 articleIdList 批量删除article-->
    <delete id="deleteArticleByIdList">
        delete from article where 1=1 and
        <foreach collection="list" open="article_id in (" close=")" item="articleId" separator=",">
            #{articleId}
        </foreach>
    </delete>

</mapper>