<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxArticleMapper">

    <resultMap id="article_page" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="article_text" property="articleText"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_num" property="schoolNum"></result>
            <result column="school_name" property="schoolName"></result>
            <result column="province" property="province"></result>
            <result column="head" property="head"></result>
            <result column="fans_num" property="fansNum"></result>
            <result column="influence" property="influence"></result>
            <result column="ranking" property="ranking"></result>
            <result column="introduction" property="introduction"></result>
            <result column="address" property="address"></result>
            <result column="background" property="background"></result>
        </collection>
    </resultMap>
    <resultMap id="article_list" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
        <collection property="school" ofType="com.xvls.alexander.entity.School">
            <id column="school_id" property="schoolId"></id>
            <result column="school_num" property="schoolNum"></result>
            <result column="school_name" property="schoolName"></result>
            <result column="province" property="province"></result>
            <result column="head" property="head"></result>
            <result column="fans_num" property="fansNum"></result>
            <result column="influence" property="influence"></result>
            <result column="ranking" property="ranking"></result>
            <result column="introduction" property="introduction"></result>
            <result column="address" property="address"></result>
            <result column="background" property="background"></result>
        </collection>
    </resultMap>

    <resultMap id="schoolMainPage_article_list" type="com.xvls.alexander.entity.wx.Article">
        <id column="article_id" property="articleId"></id>
        <result column="school_id" property="schoolId"></result>
        <result column="title" property="title"></result>
        <result column="read_num" property="readNum"></result>
        <result column="article_time" property="articleTime"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="comment_num" property="commentNum"></result>
    </resultMap>

    <select id="getArticleByPage" parameterType="com.xvls.alexander.entity.PageInfo" resultMap="article_page">
        SELECT article.*,school.* FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
        limit #{pageNum},#{pageSize}
    </select>

    <select id="getAllArticle" parameterType="com.xvls.alexander.entity.PageInfo" resultMap="article_list">
        SELECT article.*,school.* FROM article
        LEFT JOIN school ON article.`school_id`=school.`school_id`
    </select>

    <select id="getArticleById" resultMap="article_page">
        select article.*,school.* from article
        left join school on article.school_id = school.`school_id`
        where article_id = #{articleId}
    </select>

    <select id="getArticleBySchoolId" resultMap="schoolMainPage_article_list">
        select * from article where school_id=#{schoolId} ORDER BY article_time desc
    </select>

    <update id="addArticleGoodNum">
        update article set good_num = good_num+1 where article_id = #{articleId};
    </update>

    <update id="addArticleCommentNum">
        update article set comment_num = comment_num + 1 where article_id = #{articleId};
    </update>

    <update id="addArticleReadNum">
        update article set read_num = read_num + 1 where article_id = #{articleId};
    </update>

    <update id="decreaseArticleGoodNum">
        update article set good_num=good_num-1 where article_id = #{articleId}
    </update>

    <update id="decreaseArticleCommentNum">
        update article set comment_num=comment_num-1 where article_id = #{articleId}
    </update>

</mapper>