<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxClass_scheduleMapper">

    <resultMap id="class_schedule" type="com.xvls.alexander.entity.wx.Class_schedule">
        <id column="cschedule_id" property="cscheduleId"></id>
        <result column="user_id" property="userId"></result>
        <result column="tc_id" property="tcId"></result>
        <result column="user_name" property="teacherName"></result>
        <result column="course_name" property="courseName"></result>
        <result column="classroom_id" property="classroomId"></result>
        <result column="classroom_code" property="classroomCode"></result>
        <result column="day_time" property="dayTime"></result>
        <result column="start_time" property="startTime"></result>
        <result column="class_length" property="classLength"></result>
    </resultMap>

    <select id="getClassScheduleById" resultMap="class_schedule">
        select class_schedule.*,
        classroom.classroom_code,
        course.course_name,
        users.user_name
        from class_schedule
        left join classroom on class_schedule.classroom_id = classroom.classroom_id
        left join tc on tc.tc_id = class_schedule.tc_id
        left join course on course.course_id = tc.course_id
        left join users on tc.user_id = users.user_id
        where class_schedule.user_id = #{userId}
        order by class_schedule.day_time asc ,class_schedule.start_time asc
    </select>

</mapper>