<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxCommentsMapper">

    <!--<resultMap id="getComments" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="user_id" property="userId"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
        <collection property="members" ofType="com.xvls.alexander.entity.wx.Comments">
            <id column="comment_id" property="commentId"></id>
            <result column="user_id" property="userId"></result>
            <result column="belong_type" property="belongType"></result>
            <result column="belong_id" property="belongId"></result>
            <result column="vc_content" property="vcContent"></result>
            <result column="good_num" property="goodNum"></result>
            <result column="vc_date" property="vcDate"></result>
            <result column="parent_vc_id" property="parentVcId"></result>
        </collection>
    </resultMap>-->

    <!--递归查询1-->
    <resultMap id="getComments" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="wx_user_id" property="wxUserId"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="nickname" property="nickname"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
        <result column="parent_name" property="parentName"></result>
        <collection property="members" ofType="com.xvls.alexander.entity.wx.Comments" column="comment_id" select="getCommentsMembers"></collection>
    </resultMap>

    <!--递归查询2-->
    <resultMap id="getMainComments" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="wx_user_id" property="wxUserId"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="nickname" property="nickname"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
        <result column="parent_name" property="parentName"></result>
        <collection property="members" ofType="com.xvls.alexander.entity.wx.Comments" column="comment_id" select="getMainCommentsMembers"></collection>
        <collection property="membersCount" ofType="java.lang.Integer" column="comment_id" select="getCommentsNum"></collection>
    </resultMap>

    <resultMap id="member" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="wx_user_id" property="wxUserId"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="nickname" property="nickname"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_name" property="parentName"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
    </resultMap>

    <resultMap id="parentComments" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="wx_user_id" property="wxUserId"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="nickname" property="nickname"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_name" property="parentName"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
        <collection property="membersCount" ofType="java.lang.Integer" column="comment_id" select="getCommentsNum"></collection>
    </resultMap>

    <resultMap id="parentComments2" type="com.xvls.alexander.entity.wx.Comments">
        <id column="comment_id" property="commentId"></id>
        <result column="wx_user_id" property="wxUserId"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="nickname" property="nickname"></result>
        <result column="belong_type" property="belongType"></result>
        <result column="belong_id" property="belongId"></result>
        <result column="vc_content" property="vcContent"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="vc_date" property="vcDate"></result>
        <result column="parent_name" property="parentName"></result>
        <result column="parent_vc_id" property="parentVcId"></result>
        <collection property="members" ofType="com.xvls.alexander.entity.wx.Comments" column="comment_id" select="getMainCommentsAllMembers"></collection>
        <collection property="membersCount" ofType="java.lang.Integer" column="comment_id" select="getCommentsNum"></collection>
    </resultMap>

    <!--<select id="getComments" resultMap="getComments">
        SELECT comments.*,members.* FROM comments
        LEFT JOIN comments members ON comments.`comment_id`=members.`parent_vc_id`
        WHERE comments.belong_type=#{belongType} AND comments.belong_id = #{articleId} and comments.parent_vc_id = 0
    </select>-->

    <!--递归查询1 查询父评论下的所有子评论-->
    <select id="getComments2" resultMap="getComments">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where (parent_vc_id = 0 or parent_vc_id is null ) and comment_id = #{parentId}
        order by vc_date asc
    </select>
    <select id="getCommentsMembers" resultMap="getComments">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where parent_vc_id = #{comment_id}
        order by vc_date asc
    </select>

    <!--通过 父评论Id 查找所有 子评论-->
    <select id="getComments" resultMap="getComments">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where parent_vc_id = #{parentId}
        order by vc_date asc
    </select>

    <!--递归查询2 分页查询父评论以及1条子评论-->
    <select id="getMainComments" resultMap="getMainComments">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where (parent_vc_id = 0 or parent_vc_id is null ) and belong_type = #{belongType} and belong_id = #{id}
        order by vc_date asc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>
    <select id="getMainCommentsMembers" resultMap="member">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where parent_vc_id = #{comment_id}
        order by vc_date asc
        limit 0,1
    </select>

    <select id="getCommentsNum" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*),0) membersCount FROM comments WHERE parent_vc_id = #{comment_id};
    </select>

    <select id="getParentCommentsNum" resultType="java.lang.Integer">
        select COALESCE(count(*),0) from comments where (parent_vc_id = 0 or parent_vc_id is null ) and belong_type = #{belongType} and belong_id = #{id}
    </select>

    <!--只获得父评论列表-->
    <select id="getParentComments" resultMap="parentComments">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where (parent_vc_id = 0 or parent_vc_id is null) and belong_type = #{belongType} and belong_id = #{id}
        order by vc_date asc
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>

    <select id="getAllComments" resultMap="parentComments2">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where (parent_vc_id = 0 or parent_vc_id is null) and belong_type = #{belongType} and belong_id = #{id}
        order by vc_date DESC
        limit #{pageInfo.pageNum},#{pageInfo.pageSize}
    </select>
    <select id="getMainCommentsAllMembers" resultMap="member">
        select comments.*,wx_user.avatar_url,wx_user.nickname
        from comments
        left join wx_user on wx_user.wx_user_id = comments.wx_user_id
        where parent_vc_id = #{comment_id}
        order by vc_date asc
    </select>

    <!--删除评论信息 及其子评论信息-->
    <delete id="deleteComment">
        delete from comments where comment_id IN
        <foreach collection="list" open="(" close=")" item="commentId" separator=",">
            #{commentId}
        </foreach>
        or parent_vc_id IN
        <foreach collection="list" open="(" close=")" item="commentId" separator=",">
            #{commentId}
        </foreach>
    </delete>


</mapper>