<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxLabelMapper">

    <select id="getLabelListByWxUserId" resultType="com.xvls.alexander.entity.wx.Label">
        select label.*
        from wx_user_label
        left join label on wx_user_label.label_id = label.label_id
        where wx_user_label.wx_user_id = #{wxUserId}
        order by wx_user_label.create_time asc
    </select>

    <delete id="deleteLabelByIds">
        delete from wx_user_label where wx_user_id = #{wxUserId} and
        <foreach collection="labelIdList" open="label_id in (" close=")" item="labelId" separator=",">
            #{labelId}
        </foreach>
    </delete>

    <insert id="addLabelById">
        insert into wx_user_label value(#{wxUserId},#{labelId},#{createTime})
    </insert>

</mapper>