<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxSchoolMapper">

    <resultMap id="school" type="com.xvls.alexander.entity.School">
        <id column="school_id" property="schoolId"></id>
        <result column="school_num" property="schoolNum"></result>
        <result column="school_name" property="schoolName"></result>
        <result column="province" property="province"></result>
        <result column="head" property="head"></result>
        <result column="fans_num" property="fansNum"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="ranking" property="ranking"></result>
        <result column="introduction" property="introduction"></result>
        <result column="address" property="address"></result>
        <result column="background" property="background"></result>
        <result column="english_name" property="englishName"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="follow_school_date" property="followSchoolDate"></result>
    </resultMap>

    <resultMap id="schoolList" type="com.xvls.alexander.entity.wx.SchoolList">
        <id column="school_id" property="schoolId"></id>
        <result column="school_name" property="schoolName"></result>
        <result column="head" property="head"></result>
        <result column="province" property="province"></result>
        <result column="introduction" property="introduction"></result>
    </resultMap>

    <resultMap id="schoolList2" type="com.xvls.alexander.entity.wx.SchoolList">
        <id column="school_id" property="schoolId"></id>
        <result column="school_name" property="schoolName"></result>
        <result column="province" property="province"></result>
        <result column="introduction" property="introduction"></result>
        <result column="follow_school_date" property="followSchoolDate"></result>
    </resultMap>

    <select id="getSchoolInfo" resultMap="school">
        select school.*,
        follow_school.follow_school_date
        from school
        left join follow_school on follow_school.school_id=school.school_id and follow_school.wx_user_id = #{wxUserId}
        where school.school_id = #{schoolId}
    </select>

    <select id="getSchoolList" resultMap="schoolList">
        select school.school_id,
        school_name,
        head,
        province,
        introduction
        from school
        ORDER BY school.province asc,
    </select>

    <update id="updateSchoolBackground">
        update school set background = #{file_url} where school_id = #{schoolId}
    </update>

    <update id="updateSchoolHead">
        update school set head = #{file_url} where school_id = #{schoolId}
    </update>

    <select id="getDefaultSchoolList" resultMap="schoolList">
        select school.school_id,
        school_name,
        head,
        province,
        introduction
        from school
        ORDER BY school.fans_num desc
        limit 0,9
    </select>

    <select id="getFollowSchoolListById" resultMap="schoolList2">
        select school.school_id,
        school_name,
        head,
        province,
        introduction,
        follow_school.follow_school_date
        from follow_school
        left join school on school.school_id = follow_school.school_id
        where follow_school.wx_user_id = #{wxUserId}
        ORDER BY follow_school.follow_school_date desc
    </select>
    
    <update id="addSchoolFansNum">
        update school set fans_num = fans_num + 1 where school_id = #{schoolId}
    </update>

    <update id="decreaseSchoolFansNum">
        update school set fans_num = fans_num - 1 where school_id = #{schoolId}
    </update>

    <update id="updateSchoolGoodCollectionNum">
        update school
        set good_num = COALESCE((select sum(good_num) from article group by(school_id) having school_id=#{schoolId}),0) + COALESCE((select sum(good_num) from video_main group by (school_id) having school_id=#{schoolId}),0),
        collection_num = COALESCE((select sum(collection_num) from article group by(school_id) having school_id=#{schoolId}),0)+COALESCE((select sum(collection_num) from video_main group by (school_id) having school_id=#{schoolId}),0)
        where school_id = #{schoolId}
    </update>

</mapper>