<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxUserMapper">

    <resultMap id="userRole" type="com.xvls.alexander.entity.wx.WxUser">
        <id column="wx_user_id" property="wx_user_id"></id>
        <result column="nickname" property="nickname"></result>
        <result column="openid" property="openid"></result>
        <result column="session_key" property="session_key"></result>
        <result column="avatar_url" property="avatarUrl"></result>
        <result column="city" property="city"></result>
        <result column="country" property="country"></result>
        <result column="gender" property="gender"></result>
        <result column="province" property="province"></result>
        <result column="wxstatus" property="wxstatus"></result>
    </resultMap>

    <update id="updateLoginInfo">
        update wx_user
        set avatar_url = #{userInfo.avatarUrl},
        city = #{userInfo.city},
        country = #{userInfo.country},
        gender = #{userInfo.gender},
        nickname = #{userInfo.nickname},
        province = #{userInfo.province},
        wxstatus = 1
        where wx_user_id = #{wxUserId}
    </update>

</mapper>