<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxVideoRotationMapper">

    <update id="updateVideoRotation">
        update video_rotation set video_main_id = #{videoMainId} where video_rotation_id = #{videoRotationId};
    </update>

    <update id="updateVideoRotationImage">
        update video_rotation set source = #{source} where video_rotation_id = #{videoRotationId};
    </update>



</mapper>