<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xvls.alexander.dao.WxVideoMapper">

    <resultMap id="videoMainList" type="com.xvls.alexander.entity.wx.Video_main">
        <id column="video_main_id" property="videoMainId"></id>
        <result column="teacher_id" property="teacherId"></result>
        <result column="video_main_title" property="videoMainTitle"></result>
        <result column="summary" property="summary"></result>
        <result column="play_num" property="playNum"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="video_date" property="videoDate"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="video_length" property="videoLength"></result>
        <result column="public_status" property="publicStatus"></result>
        <result column="verify_status" property="verifyStatus"></result>
        <result column="main_page" property="mainPage"></result>
        <result column="nickname" property="nickName"></result>
    </resultMap>

    <resultMap id="videoList" type="com.xvls.alexander.entity.wx.Video">
        <id column="video_id" property="videoId"></id>
        <result column="teacher_id" property="teacherId"></result>
        <result column="video_title" property="videoTitle"></result>
        <result column="summary" property="summary"></result>
        <result column="play_num" property="playNum"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="video_date" property="videoDate"></result>
        <result column="video_main_id" property="videoMainId"></result>
        <result column="episode_id" property="episodeId"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="video_length" property="videoLength"></result>
        <result column="video_size" property="videoSize"></result>
        <result column="public_status" property="publicStatus"></result>
        <result column="verify_status" property="verifyStatus"></result>
        <result column="video_source" property="videoSource"></result>
    </resultMap>

    <resultMap id="videoMainInfoList" type="com.xvls.alexander.entity.wx.Video_main">
        <id column="video_main_id" property="videoMainId"></id>
        <result column="teacher_id" property="teacherId"></result>
        <result column="video_main_title" property="videoMainTitle"></result>
        <result column="summary" property="summary"></result>
        <result column="play_num" property="playNum"></result>
        <result column="good_num" property="goodNum"></result>
        <result column="collection_num" property="collectionNum"></result>
        <result column="video_date" property="videoDate"></result>
        <result column="comment_num" property="commentNum"></result>
        <result column="comment_status" property="commentStatus"></result>
        <result column="video_length" property="videoLength"></result>
        <result column="public_status" property="publicStatus"></result>
        <result column="verify_status" property="verifyStatus"></result>
        <result column="main_page" property="mainPage"></result>
        <result column="nickname" property="nickName"></result>
        <collection property="video_episodeList" ofType="com.xvls.alexander.entity.wx.Video_episode">
            <id column="video_id" property="videoId"></id>
            <result column="video_title" property="videoTitle"></result>
            <result column="video_length" property="videoLength"></result>
            <result column="video_size" property="videoSize"></result>
            <result column="video_date" property="videoDate"></result>
            <result column="episode_id" property="episodeId"></result>
            <result column="video_source" property="videoSource"></result>
        </collection>
    </resultMap>


    <select id="getPublicVideoList" resultMap="videoMainList">
        select video_main.*,users.nickname from video_main,users
        where video_main.teacher_id=users.user_id and video_main.public_status='public' ORDER BY video_main.video_date DESC
    </select>

    <select id="getPublicVideoListBySchoolId" resultMap="videoMainList">
        select video_main.*,users.nickname from video_main,users
        where video_main.teacher_id=users.user_id and video_main.public_status='public' and video_main.school_id=#{schoolId}
        ORDER BY  video_main.video_date DESC
    </select>

    <select id="getVideoInfoById" resultMap="videoList">
        select * from video where video_main_id=#{videoMainId} and episode_id=#{episodeId}
    </select>

    <select id="getVideoMainInfo" resultMap="videoMainInfoList">
        select video_main.*,
        video.video_id,
        video.video_title,
        video.video_length,
        video.video_size,
        video.video_date,
        video.episode_id,
        video.video_source
        from video_main
        left join video on video_main.video_main_id=video.video_main_id
        where video_main.video_main_id=#{videoMainId}
        ORDER BY  video.episode_id ASC
    </select>

</mapper>